/* Center content */
.modal-title {
    text-align: center;
    font-size: var(--font-size-base);
}

.modal-content {
    text-align: center;
    color: black;
}

.modal-message {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
}

.modal-submessage {
    font-size: var(--font-size-sm);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-lg);
}