.image-container {
	position: relative;
	width: 100%;
	height: var(--header-height);
}

.background-image {
	width: 100%;
	height: 100%;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.text-overlay {
	color: var(--text-white);
	font-size: var(--font-size-xs);
}

.text-overlay-2 {
	color: var(--text-white);
	font-size: var(--font-size-4xl);
	font-weight: var(--font-weight-bold);
}

.text-overlay-footer {
	position: absolute;
	top: 30%;
	left: 0%;
	transform: translate(-20%, -20%);
}

.text-overlay-footer-2 {
	position: absolute;
	top: 43%;
	left: 13%;
	transform: translate(-0%, -20%);
	color: var(--text-white);
	font-size: var(--font-size-xl);
}

@media screen and (max-width: 768px) {
	.image-container {
		height: var(--header-height-mobile);
	}
	.text-overlay {
		font-size: 10pt;
		font-weight: var(--font-weight-normal);
	}

	.text-overlay-2 {
		display: none;
		font-size: 12pt;
	}
}