.image-container {
	position: relative;
	width: 100%;
	height: 20vh;
}

.background-image {
	width: 100%;
	height: 100%;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.text-overlay {
	color: white;
	font-size: 10px;
}

.text-overlay-2 {
	color: white;
	font-size: 40px;
	font-weight: bold;
}

.text-overlay-footer {
	position: absolute;
	top: 30%;
	left: 0%;
	transform: translate(-20%, -20%);
}

.text-overlay-footer-2 {
	position: absolute;
	top: 43%;
	left: 13%;
	transform: translate(-0%, -20%);
	color: white;
	font-size: 20px;
}

@media screen and (max-width: 768px) {
	.image-container {
		height: 12vh;
	}
	.text-overlay {
		font-size: 10pt;
		font-weight: 400;
	}

	.text-overlay-2 {
		display: none;
		font-size: 12pt;
	}
}