.modal-content {
    text-align: center;
    color: black;
}

.modal-message {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
}

.modal-submessage {
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
}

/* Error Message */
.error-message {
    color: var(--error-color);
    font-size: var(--font-size-xs);
    margin-top: var(--spacing-xs);
}

/* Modal Actions */
.modal-actions {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-lg);
}
