/* Flexbox layout for the page */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.room-tabs-sticky {
  position: sticky;
  top: calc(var(--header-height) + var(--banner-height));
  z-index: calc(var(--z-index-sticky) - 2);
  background: white;
}

@media screen and (max-width: 768px) {
  .room-tabs-sticky {
    top: calc(var(--header-height-mobile) + var(--banner-height));
  }
}

.page-container>.footer-background {
    position: relative;
}

.footer-background {
    background-image: url("../../assets/background-footer.png");
    padding: var(--spacing-lg);
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    width: 100%;
}

.footer-background img {
    width: 6.875rem; /* 110px */
}

.footer-background p {
    font-size: var(--font-size-lg);
    color: var(--text-white);
}

.fixed-footer {
    margin-top: auto;
}