<div class="relative">
  <ul class="flex flex-nowrap space-x-2 overflow-x-auto py-2 border-b border-gray-200">
    <li *ngFor="let room of dataRooms" class="flex-shrink-0">
      <a href="javascript:void(0);" (click)="filterBookingsByRoom(room)"
        [ngClass]="{'text-blue-600 bg-gray-100': selectedRoom.id === room.id}" class="inline-block p-4 rounded-t-lg">
        {{ room.name }}
      </a>
    </li>
  </ul>
</div>

<div class="page-container">
  <div *ngFor="let monthGroup of filteredBookings" class="flex flex-col gap-4 py-3">
    <!-- Header Bulan -->
    <h2 class="text-xl font-bold px-3">{{ monthGroup.month + '-01' | date: 'MMMM' }}</h2>

    <!-- Looping Tanggal -->
    <div *ngFor="let dateGroup of monthGroup.dates" class="flex flex-col gap-4">
      <div class="flex items-start">
        <!-- Tanggal -->
        <div class="mx-3 text-white text-center rounded flex flex-col"
          style="background-color: #28a745; align-items: center; height: 4em; width: 4em;">
          <div class="flex flex-col m-auto">
            <span class="text-sm">{{ dateGroup.date | date: 'EE' }}</span>
            <span class="text-base font-bold">{{ dateGroup.date | date: 'dd' }}</span>
          </div>
        </div>

        <!-- Jadwal -->
        <div class="gap-4 w-full" style="margin-right: 1em;">
          <div *ngFor="let schedule of dateGroup.schedules; let i = index"
            class="rounded border border-gray-300 bg-white p-3"
            [ngStyle]="{ 'min-height': (i === 0 || schedule.room !== dateGroup.schedules[i - 1].room) ? '7em' : '5em' }"
            style="align-content: center;">

            <span
              *ngIf="selectedRoom.name === 'Semua Jadwal Ruangan Meeting' && (i === 0 || schedule.room !== dateGroup.schedules[i - 1].room)"
              style="background-color: #E9EDF0; height: 2em; display: flex; justify-content: center; align-items: center;"
              class="font-bold text-sm rounded">
              {{ schedule.room }}
            </span>

            <div style="display: flex;">
              <div class="mt-1 gap-4" style="align-items: center; flex: 1;">
                <div class="flex flex-col">
                  <!-- Waktu -->
                  <div class="font-medium text-xs" style="width: 7rem;">
                    {{ formatTime(schedule.start_time) }} - {{ formatTime(schedule.end_time) }}
                  </div>
                  <!-- PIC -->
                  <div class="font-light text-xs text-gray-600">PIC: {{ schedule.pic }}</div>
                </div>
                <!-- Topik -->
                <div class="font-medium text-xs break-words" style="max-width: 22em;">
                  {{ schedule.topic }}
                </div>
              </div>
              <div class="font-medium text-sm flex-shrink-0" style="display: flex; justify-content:flex-end">
                <button (click)="openVerificationModal(schedule)"><img style="width: 2em; height: 2em;"
                    src="../../assets/menu_button.png"></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>