/* Flexbox layout for the page */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container>.footer-background {
    position: relative;
}

.footer-background {
    background-image: url("../../assets/background-footer.png");
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.footer-background img {
    width: 110px;
}

.footer-background p {
    font-size: large;
    color: white;
}

.fixed-footer {
    margin-top: auto;
}