.home-banner {
  position: sticky;
  top: var(--header-height);
  z-index: calc(var(--z-index-sticky) - 1);
  height: var(--banner-height);
  overflow: hidden;
}

.home-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 768px) {
  .home-banner {
    top: var(--header-height-mobile);
  }
}