.image-container {
    position: fixed;
	display: flex;
    bottom: 0; 
    width: 100%; 
    height: 20vh; 
    z-index: 1; 
}

body {
    padding-bottom: 20vh; 
    margin: 0;
}

.background-image {
	width: 100%;
	height: 100%;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.text-overlay {
	color: white;
	font-size: 20px;
}

.text-overlay-2 {
	color: white;
	font-size: 20px;
}

.text-overlay-footer {
	position: absolute;
	top: 30%;
	left: 0%;
	transform: translate(-20%, -20%);
}

.text-overlay-footer-2 {
	position: absolute;
	top: 43%;
	left: 13%;
	transform: translate(-0%, -20%);
	color: white;
	font-size: 20px;
}

@media screen and (max-width: 768px) {
	.text-overlay {
		left: 30%;
		font-size: 12pt;
		margin-right: 10px;
	}

	.text-overlay-2 {
		font-size: 12pt;
	}
}