<div class="header">
  <div class="room-name">
    {{ selectedRoomName }}
  </div>
  <div class="qr-scan-booking">
    <img src="../../../../../../assets/qr-scan-booking.png" alt="">
    <div>
      <img style="width: 7em;" src="../../../../../../assets/dmmx-logo-white.png" alt="">
      <p>
        Pindai QR ini untuk memesan ruang meeting ini atau melihat jadwal lainnya.
      </p>
    </div>
  </div>
</div>

<div class="relative">
  <!-- Booking List -->
  <div class="page-container w-full">
    <div *ngFor="let monthGroup of filteredBookings" class="flex flex-col gap-4">
      <!-- Header Bulan -->
      <h2 class="text-xl font-bold px-3">{{ monthGroup.month + '-01' | date: 'MMMM' }}</h2>

      <!-- Looping Tanggal -->
      <div *ngFor="let dateGroup of monthGroup.dates" class="flex flex-col mx-3">
        <div class="flex">
          <!-- Tanggal -->
          <div class="mx-3 text-white text-center rounded flex flex-col"
            style="background-color: #28a745; align-items: center; height: 8vh; width: 8vh;">
            <div class="flex flex-col m-auto px-2">
              <span class="text-base ">{{ dateGroup.date | date: 'EE' }}</span>
              <span class="text-3xl font-bold">{{ dateGroup.date | date: 'dd' }}</span>
            </div>
          </div>

          <!-- Jadwal -->
          <div class="w-full">
            <div *ngFor="let schedule of dateGroup.schedules" class="rounded border border-gray-300 bg-white"
              style="height: 8vh;">
              <div class="flex px-2 h-full" style="align-items: center;">
                <div class="flex flex-col">
                  <!-- Waktu -->
                  <div class="font-medium text-base">
                    {{ formatTime(schedule.start_time) }} - {{ formatTime(schedule.end_time) }}
                  </div>
                  <!-- PIC -->
                  <div class="font-light text-sm text-gray-600">PIC: {{ schedule.pic }}</div>
                </div>
                <!-- Topik -->
                <div class="font-medium text-3xl mt-2 mx-10">
                  {{ schedule.topic }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer-background" [ngClass]="{'fixed-footer': filteredBookings.length <= 1}">
    <img src="../../../../../../assets/banner-footer.jpg" alt="qr-scan-booking" style="width: 100%; height: 15vh;">
    <!-- <p>Pindai QR ini untuk memesan ruang meeting ini atau melihat jadwal lainnya.</p> -->
  </div>