.header {
	position: relative;
	/* Required for pseudo-element positioning */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* Center items vertically */
	padding: 5%;
	color: white;
	width: 100%;
	height: 145px;
	/* overflow: hidden; */
	/* Ensure the pseudo-element doesn't overflow */
}

.header::before {
	content: "";
	background-image: url("../../../../assets/background-header-tablet.png");
	background-repeat: repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.room-name {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 3vw;
	font-weight: bold;
}

.qr-scan-booking {
	display: flex;
	flex-direction: row;
	gap: 2%;
}

.qr-scan-booking>img {
	height: 5rem;
	width: 5rem;
	align-self: center;
}

.qr-scan-booking>div {
	display: flex;
	flex-direction: column;
	gap: 2%;
	width: 20em;
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-bottom: 15em;
}

.footer-background {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.fixed-footer {
	margin-top: auto;
}

@media screen and (max-width: 768px) {
	.room-name {
		font-size: 3vw;
	}

	.qr-scan-booking {
		width: 60%;
	}

	.qr-scan-booking>div>p {
		font-size: 10px;
	}

	.text-overlay {
		font-size: 10pt;
		font-weight: 400;
	}

	.text-overlay-2 {
		/* display: none; */
		font-size: 12pt;
	}
}